<main>
  <div class="profile-card">
    <header>
        <div class="avatar"></div>
        <h1>
          John Doe
        </h1>
        <button class="load">Загрузить фотографию</button>  
    </header>
    <div class="profile-bio">
      <p style="color: #A9D4FD">
        Исполнителям с хорошей фотографией лучше доверяют      </p>
      <p>
        Фото можно добавить позже
      </p>
    </div>
    <div class="profile-links-box">
      <div class="profile-social-links"></div>
      <div class="profile-social-links"></div>
    </div>
    <footer>
      <button id="submit" class="submit"><a routerLink="/skills">Далее</a></button>
    </footer>
  </div>
</main>