<main>
  <h1>Категории</h1>
  <div class="content">
    <div class="up-box">
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/astrology.png');"></div>
          <div class="name-card"><a routerLink="/subcategory">Астрология</a></div>
        </div>
        <button class="btn-card"><a routerLink="/subcategory">Больше</a></button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/tarot.png');"></div>
          <div class="name-card">Таро</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/crystal-ball.png');"></div>
          <div class="name-card">Гадание</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/numerology.png');"></div>
          <div class="name-card">Нумерология</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/book.png');"></div>
          <div class="name-card">Хиромантия</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/gemini.png');"></div>
          <div class="name-card">Дизайн</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/amulet.png');"></div>
          <div class="name-card">Руны</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
    </div>
    <div class="down-box">
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/hourglass.png');"></div>
          <div class="name-card">Матрица</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/feng-shui.png');"></div>
          <div class="name-card">Фэншуй</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/spellbook.png');"></div>
          <div class="name-card">Ясновидение</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/hypnosis.png');"></div>
          <div class="name-card">Гипноз</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/tantra.png');"></div>
          <div class="name-card">Тантра</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/mirror.png');"></div>
          <div class="name-card">Лила</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/menu.png');"></div>
          <div class="name-card">И др.</div>
        </div>
        <button class="btn-card" routerLink="/subcategory">Больше</button>
      </div>
    </div>
  </div>
</main>