<main>
  <h1>Выберите исполнителя!</h1>
  <div class="performers">
    <div class="performer">
      <div class="avatar" style="background-image: url('../../assets/pic/user.png');"></div>
      <h2 class="name">Иван Иванов</h2>
      <p class="role">Астролог</p>
      <div class="rating">⭐⭐⭐⭐⭐</div>
      <button class="select">Выбрать</button>
    </div>
    <div class="performer">
      <div class="avatar" style="background-image: url('../../assets/pic/user.png');"></div>
      <h2 class="name">Анастасия Ефремова</h2>
      <p class="role">Таролог</p>
      <div class="rating">⭐⭐⭐⭐</div>
      <button class="select">Выбрать</button>
    </div>
    <div class="performer">
      <div class="avatar" style="background-image: url('../../assets/pic/user.png');"></div>
      <h2 class="name">Юлия Ткацкая</h2>
      <p class="role">Гадание</p>
      <div class="rating">⭐⭐⭐⭐⭐</div>
      <button class="select">Выбрать</button>
    </div>
  </div>
</main>