<main>
  <h1>Для Астрологии</h1>
  <div class="content">
    <div class="up-box">
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/astrology.png');"></div>
          <div class="name-card"><a routerLink="/question">Натальная Карта</a></div>
        </div>
        <button class="btn-card" routerLink="/question" value="Натальная Карта">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/tarot.png');"></div>
          <div class="name-card">Соляр на год</div>
        </div>
        <button class="btn-card" routerLink="/question" value="Соляр на год">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/crystal-ball.png');"></div>
          <div class="name-card">Хорар</div>
        </div>
        <button class="btn-card" routerLink="/question" value="Хорар">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/numerology.png');"></div>
          <div class="name-card">Совместимость</div>
        </div>
        <button class="btn-card" routerLink="/question" value="Совместимость">Больше</button>
      </div>
    </div>
    <div class="down-box">
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/hourglass.png');"></div>
          <div class="name-card">Выбор даты для женитьбы</div>
        </div>
        <button class="btn-card" routerLink="/question" value="Выбор даты для женитьбы">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/feng-shui.png');"></div>
          <div class="name-card">Выбор даты сделки</div>
        </div>
        <button class="btn-card" routerLink="/question" value="Выбор даты сделки">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/spellbook.png');"></div>
          <div class="name-card">Характер человека</div>
        </div>
        <button class="btn-card" routerLink="/question" value="Характер человека">Больше</button>
      </div>
      <div class="card">
        <div class="info-card">
          <div class="icon-card" style="background-image: url('../../assets/pic/menu.png');"></div>
          <div class="name-card">Прочее</div>
        </div>
        <button class="btn-card" routerLink="/question" value="Прочее">Больше</button>
      </div>
    </div>
  </div>
</main>