<main>
  <h1 class="feedback-title">Какой способ получения ответа<br>Для вас доступен?</h1>
  <div class="selector">
    <button class="select" (click)="selectAnswerFormat('Текстовое сообщение'); saveAndCheckTask()" routerLink="/select-performer">Текстовое сообщение</button>
    <button class="select" (click)="selectAnswerFormat('Аудио Сообщение'); saveAndCheckTask()" routerLink="/select-performer">Аудио Сообщение</button>
    <button class="select" (click)="selectAnswerFormat('Загруженный текстовый файл'); saveAndCheckTask()" routerLink="/select-performer">Загруженный текстовый файл</button>
    <button class="select" (click)="selectAnswerFormat('Онлайн консультация'); saveAndCheckTask()" routerLink="/select-performer">Онлайн консультация</button>
  </div>
</main>

