<main>
  <header>
    <h1 id="title">Как вас представить клиентам?</h1>
  </header>
  <section>
    <form id="survey-form">
      <div class="form-group">
        <label id="name-label">Электронная почта</label>
        <input
          type="email"
          placeholder="Напишите вашу электронную почту"
          class="form-control"
          id="email"
          required
        />
      </div>
      <div class="form-group">
        <label id="email-label">Номер телефона</label>
        <input
          type="number"
          placeholder="Напишите ваш номер телефона"
          class="form-control"
          id="phoneNumber"
          required
        />
      </div>
      <div class="form-group">
        <button id="submit" class="submit"><a routerLink="/avatar">Далее</a></button>
      </div>
    </form>
  </section>
</main>
