<div class="header__wrapper">
  <header></header>
  <div class="cols__container">
    <div class="left__col">
      <div class="img__container">
        <img src="../../assets/pic/account.png" alt="Anna Smith" />
        <span></span>
      </div>
      <h2>Кирилл Креминский</h2>
      <p>Астролог</p>
      <p>kirill@test.com</p>

      <ul class="about">
        <li><span>4,073</span>Followers</li>
        <li><span>322</span>Following</li>
        <li><span>200,543</span>Attraction</li>
      </ul>

      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
          erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
          ligula egestas nulla.
        </p>

        <div>
          <a style="background-image: url('');"></a>
          <a style="background-image: url('');"></a>
          <a style="background-image: url('');"></a>
          <a style="background-image: url('');"></a>
        </div>
      </div>
    </div>
    <div class="right__col">
      <nav>
        <ul>
          <li><a href="">Созданные задания</a></li>
          <li><a href="">Задания в работе</a></li>
          <li><a href="">lorem</a></li>
          <li><a href="">lorem</a></li>
        </ul>
        <button>Add project</button>
      </nav>

      <div class="photos">
        <div class="profile__item">
          <app-task></app-task>
          <app-task></app-task>
          <app-task></app-task>
          <!-- <app-task-card [task]="task"></app-task-card> -->
          <!-- <button (click)="updateTask()" class="remove">Обновить Task</button> -->
        </div>
      </div>
    </div>
  </div>
</div>